.navigation {
	border-top: 7px solid rgba(0,51,160,1);
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 99999;

	@media(max-width: 767px) {
		position: relative;
		top: auto;

		.logo {
			padding: 8px 0 5px!important;

			img {
				width: 100px!important;
			}

		}

		ul.sub-menu {
			top: 53px;
		}

	}

	&.scrolled {

		.logo {
			padding: 8px 0 5px;

			img {
				width: 100px;
			}

		}

		ul.sub-menu {
			top: 53px;
		}

	}

	&__container {
		padding: 0 37px 0 40px;

		@media(max-width: 767px) {
			padding: 0 30px;
		}

		.logo {
			padding: 20px 0 13px;
			transition: all 200ms ease;

			img {
				transition: all 200ms ease;
			}

		}

		.mobile-btn {
			appearance: none;
			border: none;
			outline: none;
			background-color: white;
			display: none;
			align-items: center;
			cursor: pointer;

			@media(max-width: 767px) {
				display: flex;
			}

			i {
				font-size: 24px;
				line-height: 1;

				&.fa-times {
					display: none;
				}

			}

			&.active {
				
				i {

					&.fa-bars {
						display: none;
					}
	
					&.fa-times {
						display: block;
					}
	
				}

			}

			span {
				font-size: 20px;
				line-height: 1;
				font-weight: 300;
				text-transform: uppercase;
				margin-left: 8px;
			}

		}

	}

	&__menu {
		display: flex;
		align-items: stretch;

		@media(max-width: 767px) {
			display: none;
			align-items: initial;
			margin: 0 -15px;
			min-width: 100vw;
			height: auto;
			position: absolute;
			top: 53px;
			background-color: white;

			&.active {
				display: block;
			}

		}

		> ul {
			padding: 0;
			margin-top: -1px;
			display: flex;
			flex-wrap: nowrap;

			@media(max-width: 767px) {
				padding-top: 30px;
				padding-bottom: 15px;
				margin: 0;
				display: block;
				flex-wrap: initial;
			}

			> li {
				position: relative;
				display: flex;
				align-items: stretch;

				@media(max-width: 767px) {
					display: block;
					align-items: initial;

					&.home {
						display: none;
					}

				}


				> a {
					padding: 0 15px;
					font-size: 18px;
					font-weight: 300;
					vertical-align: middle;
					color: black;
					display: flex;
					align-items: center;

					@media(max-width: 767px) {
						padding: 5px 15px;
						font-size: 24px;
					}

					img {
						margin-top: -1px;
					}

					&:hover {
						text-decoration: none;
					}

				}

				&.active {
					
					&:after {
						position: absolute;
						bottom: -3px;
						height: 3px;
						background-color: #eee;
						width: 100%;
						content: '';
						z-index: 9;

						@media(max-width: 767px) {
							display: none;
						}

					}

				}

				&.has-child {

					@media(max-width: 767px) {
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						padding-right: 15px;
					}

					.mobile-sub-menu {
						display: none;

						@media(max-width: 767px) {
							display: inline-block;
						}

						i {
							font-size: 18px;

							&.fa-minus {
								display: none;
							}

						}

						span {
							font-size: 20px;
							font-weight: 300;
							margin-left: 6px;
						}

						&.active {

							i {

								&.fa-bars {
									display: none;
								}

								&.fa-minus {
									display: inline-block;
								}
							
							}

						}

					}

					> a {

						@media(max-width: 767px) {
							display: inline-block;
						}

						> span {
							vertical-align: middle;
							display: inline-block;
							position: relative;
							margin-left: 5px;
							width: 0; 
							height: 0; 
							border-left: 3px solid transparent;
							border-right: 3px solid transparent;
							border-top: 3px solid #777;

							@media(max-width: 767px) {
								display: none;
							}

 						}

					}

					&:hover {

						> ul.sub-menu {
							display: block;

							@media(max-width: 767px) {
								display: none;

								&.active {
									display: block;
								}
								
							}

						}

					}

				}
				
				> ul.sub-menu {
					display: none;
					position: absolute;
					background-color: #fff;
					padding: 10px 0;
					width: 220px;
					box-shadow: 0 0 2px rgba(0,0,0,0.2);
					margin-left: -15px;
					right: 0;
					top: 93px;
					z-index: 9999;

					@media(max-width: 767px) {
						position: relative;
						margin: 0;
						width: 100%;
						top: auto;
						right: auto;
						box-shadow: none;

						&.active {
							display: block!important;
						}

					}

					> li {

						> a {
							display: block;
							padding: 5px 20px;
							font-size: 14px;
							text-align: left;
							color: #777;
							font-weight: 300;

							@media(max-width: 767px) {
								font-size: 20px;
								padding: 5px 40px;
								color: #333;
							}

							&:hover {
								background-color: #eee;
								text-decoration: none;

								@media(max-width: 767px) {
									background-color: white;
								}

							}

						}

						&.active {

							a {
								background-color: #eee;
								text-decoration: none;

								@media(max-width: 767px) {
									background-color: white;
								}

							}

						}

					}

				}

			}
			
		}

	}

}