$color-primary: #232323;
$color-secondary: #92CDCF;
$color-tertiary: #0033a0; // #468966 
$color-light: #F8F8F8;
$color-dark: #445878;
$color-darker: #31353D;
$color-blue1: #002b8a;
$color-blue2: #0032a0;
$color-blue3: #0033a0;
$color-blue4: #042f88;